// import poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #333;
  color: #ccc;
  line-height: 1.6;
  width: 100vw;
  overflow-x: hidden;

  //   Header
  //   .header {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     padding: 1rem 2rem;

  //     // Left
  //     .left {
  //       .logo {
  //         max-width: 100px;
  //       }
  //     }
  //     // Right
  //     .right {
  //       .menu {
  //         list-style: none;
  //         display: flex;
  //         gap: 1rem;

  //         li {
  //           a {
  //             text-decoration: none;
  //             color: #ccc;
  //           }
  //         }
  //       }
  //     }
  //   }

  .section {
    padding: 2rem 0;
    .title {
      text-align: center;
      color: white;
      font-size: 2rem;
    }
  }

  .about {
    .left {
      flex: 1;
      img {
        // width: 100px;
        max-height: 400px;
        width: 400px;
        margin: auto;
        display: block;
        object-fit: cover;
      }
    }
    .right {
      flex: 1;
    }
  }

  .team {
    .mid {
      .card {
        width: 200px;
        // margin: -1px 0 0 -1px;
        padding: 5px;
        background-color: grey;
        h5 {
          text-align: center !important;
          color: #222;
        }
        .card-text {
          color: rgb(93, 212, 93);
        }
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }
    }
  }

  .services {
    .box {
      width: 300px;
      height: 250px;
      padding: 10px;
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 1;

      .desc {
        padding: 20px 0;
        flex: 1;
        z-index: 2;
      }
      .box-icon {
        z-index: 3;
        font-size: 3rem;
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        // width: 100%;
        // height: 100%;
        background-color: rgb(6, 84, 6) !important;
        border-top-left-radius: 50%;
        width: 100px;
        height: 100px;
        z-index: 1;
      }
    }

    .box2 {
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        // width: 100%;
        // height: 100%;
        background-color: rgb(6, 84, 6) !important;
        border-top-left-radius: 50%;
        width: 150px;
        height: 150px;
        z-index: 1;
      }
    }

    // .box::before {
    //   content: "Hello";
    //   width: 100%;
    //   height: 100%;
    //   background-color: red !important;
    //   z-index: 2;
    // }
  }

  .client {
    .mid {
      h2 {
        text-align: center;
        padding: 20px;
      }
      /* Slider */

      .slick-slide {
        margin: 0px 20px;
      }

      .slick-slide img {
        width: 100%;
        max-height: 200px;
        object-fit: contain;
      }

      .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
      }

      .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
      .slick-list:focus {
        outline: none;
      }
      .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
      }

      .slick-slider .slick-track,
      .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
      }
      .slick-track:before,
      .slick-track:after {
        display: table;
        content: "";
      }
      .slick-track:after {
        clear: both;
      }
      .slick-loading .slick-track {
        visibility: hidden;
      }

      .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
      }
      [dir="rtl"] .slick-slide {
        float: right;
      }
      .slick-slide img {
        display: block;
      }
      .slick-slide.slick-loading img {
        display: none;
      }
      .slick-slide.dragging img {
        pointer-events: none;
      }
      .slick-initialized .slick-slide {
        display: block;
      }
      .slick-loading .slick-slide {
        visibility: hidden;
      }
      .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
      }
      .slick-arrow.slick-hidden {
        display: none;
      }
    }
  }

  //   Footer
  .footer {
    .mid {
      .list {
        padding: 5px 0;
      }
    }
  }
}

// max width
.max-width-300 {
  max-width: 300px;
}
.max-width-500 {
  max-width: 500px;
  // width: 100%;
}
.max-width-1000 {
  max-width: 1000px;
}

// width
// .box-width {
//   width: 250px;
// }

.active {
  color: rgb(32, 183, 32) !important;
}
